In [1]:
import pandas as pd
import numpy as np

from sklearn import preprocessing

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [2]:
#등급 계산할 함수
def minus(m):
    if m>7/8:
        rank=1/9
    elif 6/8 <m<= 7/8:
        rank=1/8
    elif 5/8 <m<= 6/8:
        rank=1/7
    elif 4/8 <m<= 5/8:
        rank=1/6
    elif 3/8 <m<= 4/8:
        rank=1/5
    elif 2/8 <m<= 3/8:
        rank=1/4
    elif 1/8 <m<= 2/8:
        rank=1/3
    elif 0 <m<= 1/8:
        rank=1/2
    elif m==0:
        rank=1
    elif -1/8 <=m< 0:
        rank=2
    elif -2/8 <=m< -1/8:
        rank=3
    elif -3/8 <=m< -2/8:
        rank=4
    elif -4/8 <=m< -3/8:
        rank=5
    elif -5/8 <=m< -4/8:
        rank=6
    elif -6/8 <=m< -5/8:
        rank=7
    elif -7/8 <=m< -6/8:
        rank=8
    elif m< -7/8:
        rank=9
    else:
        pass
    return rank

# sum_rank

In [3]:
#sum_rank만 추출해서 스케일링
df=pd.read_excel('ahp_mid.xlsx')
sum_rank=df[['dong_nm','sum_rank']]
sum_rank.set_index("dong_nm",inplace=True)

data = scaler.fit_transform(sum_rank)
sum_rank= pd.DataFrame(data, index = list(sum_rank.index), columns=list(sum_rank.columns))
sum_rank

      sum_rank
개포1동  0.409091
개포2동  0.272727
개포4동  0.000000
논현1동  0.136364
논현2동  0.181818
...        ...
잠실7동  0.909091
잠실본동  0.818182
장지동   0.772727
풍납1동  0.863636
풍납2동  0.954545

[69 rows x 1 columns]

In [4]:
sum_rank.index
#제로마켓 존재 : 화곡6동, 가락본동, 석촌동, 풍납2동 제외

Index(['개포1동', '개포2동', '개포4동', '논현1동', '논현2동', '대치1동', '대치2동', '대치4동', '도곡1동',
       '도곡2동', '삼성1동', '삼성2동', '세곡동', '수서동', '신사동', '압구정동', '역삼1동', '역삼2동',
       '일원1동', '일원2동', '일원본동', '청담동', '가양1동', '가양2동', '가양3동', '공항동', '등촌1동',
       '등촌2동', '등촌3동', '발산1동', '방화1동', '방화2동', '방화3동', '염창동', '우장산동', '화곡1동',
       '화곡2동', '화곡3동', '화곡4동', '화곡6동', '화곡8동', '화곡본동', '가락1동', '가락2동', '가락본동',
       '거여1동', '거여2동', '마천1동', '마천2동', '문정1동', '문정2동', '방이1동', '방이2동', '삼전동',
       '석촌동', '송파1동', '송파2동', '오금동', '오륜동', '위례동', '잠실2동', '잠실3동', '잠실4동',
       '잠실6동', '잠실7동', '잠실본동', '장지동', '풍납1동', '풍납2동'],
      dtype='object')

In [5]:
#65*65 빈 행렬 만들어놓기
#차이값 넣을 행렬
gap_sum_rank= pd.DataFrame(index=['개포1동', '개포2동', '개포4동', '논현1동', '논현2동', '대치1동', '대치2동', '대치4동', '도곡1동',
       '도곡2동', '삼성1동', '삼성2동', '세곡동', '수서동', '신사동', '압구정동', '역삼1동', '역삼2동',
       '일원1동', '일원2동', '일원본동', '청담동', '가양1동', '가양2동', '가양3동', '공항동', '등촌1동',
       '등촌2동', '등촌3동', '발산1동', '방화1동', '방화2동', '방화3동', '염창동', '우장산동', '화곡1동',
       '화곡2동', '화곡3동', '화곡4동', '화곡8동', '화곡본동', '가락1동', '가락2동',
       '거여1동', '거여2동', '마천1동', '마천2동', '문정1동', '문정2동', '방이1동', '방이2동', '삼전동',
       '송파1동', '송파2동', '오금동', '오륜동', '위례동', '잠실2동', '잠실3동', '잠실4동',
       '잠실6동', '잠실7동', '잠실본동', '장지동', '풍납1동'],
                 columns=['개포1동', '개포2동', '개포4동', '논현1동', '논현2동', '대치1동', '대치2동', '대치4동', '도곡1동',
       '도곡2동', '삼성1동', '삼성2동', '세곡동', '수서동', '신사동', '압구정동', '역삼1동', '역삼2동',
       '일원1동', '일원2동', '일원본동', '청담동', '가양1동', '가양2동', '가양3동', '공항동', '등촌1동',
       '등촌2동', '등촌3동', '발산1동', '방화1동', '방화2동', '방화3동', '염창동', '우장산동', '화곡1동',
       '화곡2동', '화곡3동', '화곡4동', '화곡8동', '화곡본동', '가락1동', '가락2동',
       '거여1동', '거여2동', '마천1동', '마천2동', '문정1동', '문정2동', '방이1동', '방이2동', '삼전동',
       '송파1동', '송파2동', '오금동', '오륜동', '위례동', '잠실2동', '잠실3동', '잠실4동',
       '잠실6동', '잠실7동', '잠실본동', '장지동', '풍납1동'])

#등급 넣을 새로운 df
grade_sum_rank= gap_sum_rank.copy()

In [6]:
#동끼리 값 차이 
for i in range(0,65):
    for j in range(0,65):
        gap_sum_rank.iloc[:,i][j]=((sum_rank['sum_rank'][i]-sum_rank['sum_rank'][j]))

In [7]:
#차이값에 따른 1/9 ~ 9등급
for i in range(0,65):
        grade_sum_rank.iloc[:,i]=gap_sum_rank.iloc[:,i].apply(lambda m: minus(m))
grade_sum_rank

,개포1동,개포2동,개포4동,논현1동,논현2동,대치1동,대치2동,대치4동,도곡1동,도곡2동,...,오륜동,위례동,잠실2동,잠실3동,잠실4동,잠실6동,잠실7동,잠실본동,장지동,풍납1동
개포1동,1.000000,3.000000,5,4.000000,3.000000,3.000000,0.500000,3.000000,5,4.000000,...,0.500000,2.000000,0.200000,0.333333,0.166667,2.000000,0.250000,0.250000,0.333333,0.166667
개포2동,0.333333,1.000000,4,3.000000,2.000000,1.000000,0.333333,1.000000,4,3.000000,...,0.333333,0.500000,0.166667,0.250000,0.142857,0.500000,0.200000,0.200000,0.250000,0.142857
개포4동,0.200000,0.250000,1,0.333333,0.333333,0.250000,0.200000,0.250000,1,0.333333,...,0.200000,0.250000,0.125000,0.166667,0.111111,0.250000,0.125000,0.142857,0.166667,0.111111
논현1동,0.250000,0.333333,3,1.000000,0.500000,0.333333,0.250000,0.333333,3,1.000000,...,0.250000,0.333333,0.142857,0.200000,0.125000,0.333333,0.142857,0.166667,0.200000,0.125000
논현2동,0.333333,0.500000,3,2.000000,1.000000,0.500000,0.250000,0.500000,3,2.000000,...,0.250000,0.333333,0.142857,0.250000,0.125000,0.333333,0.166667,0.166667,0.250000,0.142857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
잠실6동,0.500000,2.000000,4,3.000000,3.000000,2.000000,0.333333,2.000000,4,3.000000,...,0.333333,1.000000,0.200000,0.333333,0.142857,1.000000,0.200000,0.200000,0.333333,0.166667
잠실7동,4.000000,5.000000,8,7.000000,6.000000,5.000000,4.000000,5.000000,8,7.000000,...,4.000000,5.000000,0.500000,3.000000,0.333333,5.000000,1.000000,2.000000,3.000000,0.333333
잠실본동,4.000000,5.000000,7,6.000000,6.000000,5.000000,4.000000,5.000000,7,6.000000,...,4.000000,5.000000,0.500000,3.000000,0.250000,5.000000,0.500000,1.000000,3.000000,0.333333
장지동,3.000000,4.000000,6,5.000000,4.000000,4.000000,2.000000,4.000000,6,5.000000,...,2.000000,3.000000,0.250000,1.000000,0.200000,3.000000,0.333333,0.333333,1.000000,0.250000
풍납1동,6.000000,7.000000,9,8.000000,7.000000,7.000000,5.000000,7.000000,9,8.000000,...,5.000000,6.000000,2.000000,4.000000,0.500000,6.000000,3.000000,3.000000,4.000000,1.000000

In [157]:
grade_sum_rank.to_excel('ahp_sum_rank.xlsx')

# one_ratio

In [8]:
#one_ratio만 추출해서 스케일링
df=pd.read_excel('ahp_mid.xlsx')
one_ratio=df[['dong_nm','one_ratio']]
one_ratio.set_index("dong_nm",inplace=True)

data = scaler.fit_transform(one_ratio)
one_ratio= pd.DataFrame(data, index = list(one_ratio.index), columns=list(one_ratio.columns))
one_ratio

      one_ratio
개포1동   0.206054
개포2동   0.100560
개포4동   0.259033
논현1동   0.860642
논현2동   0.589485
...         ...
잠실7동   0.047395
잠실본동   0.622279
장지동    0.224365
풍납1동   0.335335
풍납2동   0.287940

[69 rows x 1 columns]

In [9]:
#65*65 빈 행렬 만들어놓기
#차이값 넣을 행렬
gap_one_ratio= pd.DataFrame(index=['개포1동', '개포2동', '개포4동', '논현1동', '논현2동', '대치1동', '대치2동', '대치4동', '도곡1동',
       '도곡2동', '삼성1동', '삼성2동', '세곡동', '수서동', '신사동', '압구정동', '역삼1동', '역삼2동',
       '일원1동', '일원2동', '일원본동', '청담동', '가양1동', '가양2동', '가양3동', '공항동', '등촌1동',
       '등촌2동', '등촌3동', '발산1동', '방화1동', '방화2동', '방화3동', '염창동', '우장산동', '화곡1동',
       '화곡2동', '화곡3동', '화곡4동', '화곡8동', '화곡본동', '가락1동', '가락2동',
       '거여1동', '거여2동', '마천1동', '마천2동', '문정1동', '문정2동', '방이1동', '방이2동', '삼전동',
       '송파1동', '송파2동', '오금동', '오륜동', '위례동', '잠실2동', '잠실3동', '잠실4동',
       '잠실6동', '잠실7동', '잠실본동', '장지동', '풍납1동'],
                 columns=['개포1동', '개포2동', '개포4동', '논현1동', '논현2동', '대치1동', '대치2동', '대치4동', '도곡1동',
       '도곡2동', '삼성1동', '삼성2동', '세곡동', '수서동', '신사동', '압구정동', '역삼1동', '역삼2동',
       '일원1동', '일원2동', '일원본동', '청담동', '가양1동', '가양2동', '가양3동', '공항동', '등촌1동',
       '등촌2동', '등촌3동', '발산1동', '방화1동', '방화2동', '방화3동', '염창동', '우장산동', '화곡1동',
       '화곡2동', '화곡3동', '화곡4동', '화곡8동', '화곡본동', '가락1동', '가락2동',
       '거여1동', '거여2동', '마천1동', '마천2동', '문정1동', '문정2동', '방이1동', '방이2동', '삼전동',
       '송파1동', '송파2동', '오금동', '오륜동', '위례동', '잠실2동', '잠실3동', '잠실4동',
       '잠실6동', '잠실7동', '잠실본동', '장지동', '풍납1동'])

#등급 넣을 새로운 df
grade_one_ratio= gap_one_ratio.copy()

In [10]:
#동끼리 값 차이 
for i in range(0,65):
    for j in range(0,65):
        gap_one_ratio.iloc[:,i][j]=((one_ratio['one_ratio'][i]-one_ratio['one_ratio'][j]))

In [11]:
#차이값에 따른 1/9 ~ 9등급
for i in range(0,65):
        grade_one_ratio.iloc[:,i]=gap_one_ratio.iloc[:,i].apply(lambda m: minus(m))
grade_one_ratio

,개포1동,개포2동,개포4동,논현1동,논현2동,대치1동,대치2동,대치4동,도곡1동,도곡2동,...,오륜동,위례동,잠실2동,잠실3동,잠실4동,잠실6동,잠실7동,잠실본동,장지동,풍납1동
개포1동,1.000000,2.0,0.500000,0.142857,0.200000,3,2.0,0.250000,0.500000,2.0,...,0.250000,2.0,2.000000,3.0,3.0,3.0,3.0,3.0,3.0,3.0
개포2동,0.500000,1.0,0.333333,0.125000,0.200000,2,0.5,0.200000,0.500000,2.0,...,0.200000,0.5,0.500000,2.0,2.0,2.0,2.0,2.0,2.0,2.0
개포4동,2.000000,3.0,1.000000,0.166667,0.250000,4,3.0,0.250000,2.000000,3.0,...,0.333333,3.0,2.000000,3.0,3.0,3.0,3.0,3.0,3.0,3.0
논현1동,7.000000,8.0,6.000000,1.000000,4.000000,8,8.0,4.000000,7.000000,8.0,...,4.000000,7.0,7.000000,8.0,8.0,8.0,8.0,8.0,8.0,8.0
논현2동,5.000000,5.0,4.000000,0.250000,1.000000,6,5.0,2.000000,5.000000,6.0,...,2.000000,5.0,5.000000,6.0,6.0,6.0,6.0,6.0,6.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
잠실6동,0.333333,0.5,0.333333,0.125000,0.166667,2,0.5,0.166667,0.333333,0.5,...,0.200000,0.5,0.333333,2.0,0.5,1.0,2.0,2.0,0.5,2.0
잠실7동,0.333333,0.5,0.333333,0.125000,0.166667,2,0.5,0.166667,0.333333,0.5,...,0.200000,0.5,0.333333,2.0,0.5,0.5,1.0,2.0,0.5,2.0
잠실본동,0.333333,0.5,0.333333,0.125000,0.166667,2,0.5,0.166667,0.333333,0.5,...,0.200000,0.5,0.333333,2.0,0.5,0.5,0.5,1.0,0.5,2.0
장지동,0.333333,0.5,0.333333,0.125000,0.166667,2,0.5,0.166667,0.333333,0.5,...,0.200000,0.5,0.333333,2.0,0.5,2.0,2.0,2.0,1.0,2.0
풍납1동,0.333333,0.5,0.333333,0.125000,0.166667,2,0.5,0.166667,0.333333,0.5,...,0.200000,0.5,0.333333,2.0,0.5,0.5,0.5,0.5,0.5,1.0

In [162]:
grade_one_ratio.to_excel('ahp_one_ratio.xlsx')

# cc_value

In [12]:
#cc_value만 추출해서 스케일링
df=pd.read_excel('ahp_mid.xlsx')
cc_value=df[['dong_nm','cc_value']]
cc_value.set_index("dong_nm",inplace=True)

data = scaler.fit_transform(cc_value)
cc_value= pd.DataFrame(data, index = list(cc_value.index), columns=list(cc_value.columns))
cc_value

      cc_value
개포1동  0.000000
개포2동  0.000000
개포4동  0.333333
논현1동  1.000000
논현2동  1.000000
...        ...
잠실7동  0.000000
잠실본동  1.000000
장지동   1.000000
풍납1동  0.000000
풍납2동  0.000000

[69 rows x 1 columns]

In [13]:
#65*65 빈 행렬 만들어놓기
#차이값 넣을 행렬
gap_cc_value= pd.DataFrame(index=['개포1동', '개포2동', '개포4동', '논현1동', '논현2동', '대치1동', '대치2동', '대치4동', '도곡1동',
       '도곡2동', '삼성1동', '삼성2동', '세곡동', '수서동', '신사동', '압구정동', '역삼1동', '역삼2동',
       '일원1동', '일원2동', '일원본동', '청담동', '가양1동', '가양2동', '가양3동', '공항동', '등촌1동',
       '등촌2동', '등촌3동', '발산1동', '방화1동', '방화2동', '방화3동', '염창동', '우장산동', '화곡1동',
       '화곡2동', '화곡3동', '화곡4동', '화곡8동', '화곡본동', '가락1동', '가락2동',
       '거여1동', '거여2동', '마천1동', '마천2동', '문정1동', '문정2동', '방이1동', '방이2동', '삼전동',
       '송파1동', '송파2동', '오금동', '오륜동', '위례동', '잠실2동', '잠실3동', '잠실4동',
       '잠실6동', '잠실7동', '잠실본동', '장지동', '풍납1동'],
                 columns=['개포1동', '개포2동', '개포4동', '논현1동', '논현2동', '대치1동', '대치2동', '대치4동', '도곡1동',
       '도곡2동', '삼성1동', '삼성2동', '세곡동', '수서동', '신사동', '압구정동', '역삼1동', '역삼2동',
       '일원1동', '일원2동', '일원본동', '청담동', '가양1동', '가양2동', '가양3동', '공항동', '등촌1동',
       '등촌2동', '등촌3동', '발산1동', '방화1동', '방화2동', '방화3동', '염창동', '우장산동', '화곡1동',
       '화곡2동', '화곡3동', '화곡4동', '화곡8동', '화곡본동', '가락1동', '가락2동',
       '거여1동', '거여2동', '마천1동', '마천2동', '문정1동', '문정2동', '방이1동', '방이2동', '삼전동',
       '송파1동', '송파2동', '오금동', '오륜동', '위례동', '잠실2동', '잠실3동', '잠실4동',
       '잠실6동', '잠실7동', '잠실본동', '장지동', '풍납1동'])

#등급 넣을 새로운 df
grade_cc_value= gap_cc_value.copy()

In [14]:
#동끼리 값 차이 
for i in range(0,65):
    for j in range(0,65):
        gap_cc_value.iloc[:,i][j]=((cc_value['cc_value'][i]-cc_value['cc_value'][j]))

In [15]:
#차이값에 따른 1/9 ~ 9등급
for i in range(0,65):
        grade_cc_value.iloc[:,i]=gap_cc_value.iloc[:,i].apply(lambda m: minus(m))
grade_cc_value

,개포1동,개포2동,개포4동,논현1동,논현2동,대치1동,대치2동,대치4동,도곡1동,도곡2동,...,오륜동,위례동,잠실2동,잠실3동,잠실4동,잠실6동,잠실7동,잠실본동,장지동,풍납1동
개포1동,1,1,0.25,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.25,...,0.111111,0.111111,0.25,1,0.111111,0.111111,1,0.111111,0.142857,1
개포2동,1,1,0.25,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.25,...,0.111111,0.111111,0.25,1,0.111111,0.111111,1,0.111111,0.142857,1
개포4동,4,4,1.00,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,1.00,...,0.142857,0.142857,1.00,4,0.142857,0.142857,4,0.142857,0.250000,4
논현1동,9,9,7.00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.00,...,1.000000,1.000000,7.00,9,1.000000,1.000000,9,1.000000,4.000000,9
논현2동,9,9,7.00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.00,...,1.000000,1.000000,7.00,9,1.000000,1.000000,9,1.000000,4.000000,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
잠실6동,9,9,7.00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.00,...,1.000000,1.000000,7.00,9,1.000000,1.000000,9,1.000000,4.000000,9
잠실7동,1,1,0.25,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.25,...,0.111111,0.111111,0.25,1,0.111111,0.111111,1,0.111111,0.142857,1
잠실본동,9,9,7.00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.00,...,1.000000,1.000000,7.00,9,1.000000,1.000000,9,1.000000,4.000000,9
장지동,7,7,4.00,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,4.00,...,0.250000,0.250000,4.00,7,0.250000,0.250000,7,0.250000,1.000000,7
풍납1동,1,1,0.25,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.25,...,0.111111,0.111111,0.25,1,0.111111,0.111111,1,0.111111,0.142857,1

In [167]:
grade_cc_value.to_excel('ahp_cc_value.xlsx')

# sum_trans

In [16]:
#sum_trans만 추출해서 스케일링
df=pd.read_excel('ahp_mid.xlsx')
sum_trans=df[['dong_nm','sum_trans']]
sum_trans.set_index("dong_nm",inplace=True)

data = scaler.fit_transform(sum_trans)
sum_trans= pd.DataFrame(data, index = list(sum_trans.index), columns=list(sum_trans.columns))
sum_trans

      sum_trans
개포1동   0.020820
개포2동   0.041039
개포4동   0.044801
논현1동   0.544087
논현2동   0.454245
...         ...
잠실7동   0.112400
잠실본동   0.129073
장지동    0.084469
풍납1동   0.015237
풍납2동   0.046118

[69 rows x 1 columns]

In [17]:
#65*65 빈 행렬 만들어놓기
#차이값 넣을 행렬
gap_sum_trans= pd.DataFrame(index=['개포1동', '개포2동', '개포4동', '논현1동', '논현2동', '대치1동', '대치2동', '대치4동', '도곡1동',
       '도곡2동', '삼성1동', '삼성2동', '세곡동', '수서동', '신사동', '압구정동', '역삼1동', '역삼2동',
       '일원1동', '일원2동', '일원본동', '청담동', '가양1동', '가양2동', '가양3동', '공항동', '등촌1동',
       '등촌2동', '등촌3동', '발산1동', '방화1동', '방화2동', '방화3동', '염창동', '우장산동', '화곡1동',
       '화곡2동', '화곡3동', '화곡4동', '화곡8동', '화곡본동', '가락1동', '가락2동',
       '거여1동', '거여2동', '마천1동', '마천2동', '문정1동', '문정2동', '방이1동', '방이2동', '삼전동',
       '송파1동', '송파2동', '오금동', '오륜동', '위례동', '잠실2동', '잠실3동', '잠실4동',
       '잠실6동', '잠실7동', '잠실본동', '장지동', '풍납1동'],
                 columns=['개포1동', '개포2동', '개포4동', '논현1동', '논현2동', '대치1동', '대치2동', '대치4동', '도곡1동',
       '도곡2동', '삼성1동', '삼성2동', '세곡동', '수서동', '신사동', '압구정동', '역삼1동', '역삼2동',
       '일원1동', '일원2동', '일원본동', '청담동', '가양1동', '가양2동', '가양3동', '공항동', '등촌1동',
       '등촌2동', '등촌3동', '발산1동', '방화1동', '방화2동', '방화3동', '염창동', '우장산동', '화곡1동',
       '화곡2동', '화곡3동', '화곡4동', '화곡8동', '화곡본동', '가락1동', '가락2동',
       '거여1동', '거여2동', '마천1동', '마천2동', '문정1동', '문정2동', '방이1동', '방이2동', '삼전동',
       '송파1동', '송파2동', '오금동', '오륜동', '위례동', '잠실2동', '잠실3동', '잠실4동',
       '잠실6동', '잠실7동', '잠실본동', '장지동', '풍납1동'])

#등급 넣을 새로운 df
grade_sum_trans= gap_sum_trans.copy()

In [18]:
#동끼리 값 차이 
for i in range(0,65):
    for j in range(0,65):
        gap_sum_trans.iloc[:,i][j]=((sum_trans['sum_trans'][i]-sum_trans['sum_trans'][j]))

In [19]:
#차이값에 따른 1/9 ~ 9등급
for i in range(0,65):
        grade_sum_trans.iloc[:,i]=gap_sum_trans.iloc[:,i].apply(lambda m: minus(m))
grade_sum_trans

,개포1동,개포2동,개포4동,논현1동,논현2동,대치1동,대치2동,대치4동,도곡1동,도곡2동,...,오륜동,위례동,잠실2동,잠실3동,잠실4동,잠실6동,잠실7동,잠실본동,장지동,풍납1동
개포1동,1.0,0.5,0.5,0.166667,0.20,0.5,0.166667,0.20,0.5,0.333333,...,0.5,2.0,0.333333,0.5,0.5,0.333333,0.333333,2,0.125000,0.5
개포2동,2.0,1.0,0.5,0.166667,0.20,0.5,0.166667,0.20,0.5,0.333333,...,0.5,2.0,0.500000,0.5,0.5,0.333333,0.500000,2,0.125000,0.5
개포4동,2.0,2.0,1.0,0.200000,0.20,0.5,0.166667,0.20,0.5,0.500000,...,0.5,2.0,0.500000,0.5,0.5,0.333333,0.500000,2,0.125000,0.5
논현1동,6.0,6.0,5.0,1.000000,2.00,5.0,0.500000,2.00,5.0,5.000000,...,5.0,6.0,5.000000,5.0,5.0,4.000000,5.000000,6,0.250000,5.0
논현2동,5.0,5.0,5.0,0.500000,1.00,4.0,0.333333,2.00,4.0,4.000000,...,4.0,5.0,4.000000,4.0,4.0,4.000000,4.000000,5,0.200000,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
잠실6동,3.0,3.0,3.0,0.250000,0.25,2.0,0.200000,0.25,2.0,2.000000,...,2.0,3.0,2.000000,2.0,2.0,1.000000,2.000000,3,0.142857,2.0
잠실7동,3.0,2.0,2.0,0.200000,0.25,2.0,0.200000,0.25,2.0,0.500000,...,2.0,3.0,2.000000,2.0,2.0,0.500000,1.000000,3,0.142857,2.0
잠실본동,0.5,0.5,0.5,0.166667,0.20,0.5,0.166667,0.20,0.5,0.333333,...,0.5,0.5,0.333333,0.5,0.5,0.333333,0.333333,1,0.125000,0.5
장지동,8.0,8.0,8.0,4.000000,5.00,7.0,4.000000,5.00,8.0,7.000000,...,8.0,8.0,7.000000,7.0,7.0,7.000000,7.000000,8,1.000000,7.0
풍납1동,2.0,2.0,2.0,0.200000,0.25,0.5,0.200000,0.25,2.0,0.500000,...,2.0,2.0,0.500000,0.5,2.0,0.500000,0.500000,2,0.142857,1.0

In [172]:
grade_sum_trans.to_excel('ahp_sum_trans.xlsx')